<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Submit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <h1>Submit</h1>
    
    <!--here we are going to show a gym and then a review for that gym-->
    <form action="submit" method="POST">
        <!-- Making a gym -->
        <p>Name: <input type="text" name="name"></p>
        <p>Address: <input type="text" name="address"></p>
        <!-- Making a review -->
        <p>Review: <input type="text" name="review"></p>
        <button type="submit">submit</button>
    </form>
</body>
</html>